html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #19a97b;
    z-index: 2;
    color: #fff;
}
.header-title{
    margin-left: 20px;
    font-size: 1.5em;
    float: left;
}

.header-info{
    float: right;
    margin-right: 30px;
}

.aside{
    position: absolute;
    top:50px;
    left:0;
    bottom:0;
    width:260px;
    background-color: rgba(238,238,238,0.98);
    overflow: auto;
    padding-bottom: 100px;
}
.main-container{
    position: absolute;
    top:50px;left:260px;bottom:0;right:0;
    overflow: hidden;
}

.main{
    position:absolute;height:100%;
    border:none;width:100%;
    position:absolute;
    top:0;right:0;left:0;bottom: 0;
}

.aside-nav, .aside-nav-menu, .aside-nav-list-container, .aside-nav-list, .aside-nav-item{
    margin:0;padding:0;
    list-style-type: none;
    width:100%;
}
.aside-nav-menu a{
    display: block;
    text-decoration: none;
    color: inherit;
}
.aside-nav-list-container{display: none}

.aside-nav{
    border-bottom: 1px solid #dedede;padding:5px 10px;
}
.aside-nav:last-child{
    border-bottom: none;
}
.aside-nav-item{}
.aside-nav-item a{
    display: block;
    text-decoration: none;
    color: inherit;
    padding:5px 20px;
}
.aside-nav-item a:hover{
    text-decoration: none;background-color: #fff;
}
.aside-nav-menu{
    padding:10px;font-size: 1.2em;
}
.aside-nav-menu:hover{
    background-color: #ffffff;
    color:dodgerblue;
    cursor: pointer;
}



